@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {
    --cor1: #4FC3F7;
    --cor2: #F9FCFF;
    --cor3: #0288D1;
    --cor4: #37474F;
    --cor5: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s linear;

    font-family: "SN Pro", sans-serif;
    text-decoration: none;
}

body {
    background-color: #37474F;
}
/* SEÇÃO 1 / HEADER DA PÁGINA */
header {
    background-color: var(--cor5);
    max-width: 1400px;
    max-height: 100px;
    padding: 10px;

}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div > .h-esquerdo img {
    max-width: 80px;
}